<%= simple_form_for @person do |f| %>
    <%= f.association :document, label_method: :documento_tipo %>
    <%= f.input :identificacion %>
    <%= f.input :primer_nombre %>
    <%= f.input :segundo_nombre %>
    <%= f.input :primer_apellido %>
    <%= f.input :segundo_apellido %>
    <%= f.association :role, label_method: :role_tipo %>
    <div class="btn btn-primary">
    <%= f.button :submit %>
    </div>
<% end %>